@page
@model IndexModel
@{
    ViewData["Title"] = "Internship002MSS";
}

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <br />
            Message...<input type="text" id="MessageInput" />
            <input type="button" id="sendButton" value="Posalji poruku" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messageList"></ul>
        </div>
    </div>
</div>
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
